@{
    ViewBag.Title = "Strona startowa";
}

<h2>Wysyłanie Emaili</h2>

<button 
        class="btn btn-primary" 
        onclick='window.location.href="@Url.Action("CreateEmail","Home")"'>
    Wyślij Emaila
</button>
